@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp1.Data
@inject WeatherForecastService ForecastService
@*<button @onclick="ReadFromSql">Read From Sql</button>

@if (memeList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Image</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meme in memeList)
            {
                <tr>
                    <td>@meme.Id</td>
                    <td>@meme.MemeName</td>
                    <td><p style="width: 200px">@meme.Url</p></td>
                    <td><img style="width: 300px; height: auto" src=@meme.Url /></td>
                    <td><button @onclick="() => DeleteFromSql(meme.Id)">Delete</button></td>
                </tr>
            }

            <tr>
                <td><button @onclick="AddToSql">Add</button></td>
                <td><input @bind="meme.MemeName" /></td>
                <td><input @bind="meme.Url" /></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    Meme meme = new();
    List<Meme> memeList = Sql.Read();
    void ReadFromSql() { memeList = Sql.Read(); }
    void AddToSql()
    {
        Sql.Create(meme);
        memeList = Sql.Read();
    }
    void DeleteFromSql(int id)
    {
        Sql.Delete(id);
        memeList = Sql.Read();
    }*
}
*@